<main class="page-content content-wrap">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="logo-box">
        <a routerLink="/app/dashboard" class="logo-text">
          <span>{{ _languageKeys.title | translate }}</span>
        </a>
      </div>
      <div class="topmenu-outer">
        <div class="top-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                <span class="user-name">
                  {{ _displayName }}
                  <i class="fa fa-angle-down"></i>
                </span>
                <img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt=""/>
              </a>
              <ul class="dropdown-menu dropdown-list" role="menu">
                <li role="presentation">
                  <a href="javascript:void(0);" (click)="logOut();">
                    <i class="fa fa-sign-out m-r-xs"></i>
                    {{ _languageKeys.logOut | translate }}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);" class="log-out waves-effect waves-button waves-classic" (click)="logOut();">
                <span>
                  <i class="fa fa-sign-out m-r-xs"></i>
                  {{ _languageKeys.logOut | translate }}
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">
      <div class="sidebar-header">
        <div class="sidebar-profile">
          <a href="javascript:void(0);" id="profile-menu-link">
            <div class="sidebar-profile-image">
              <img src="assets/images/profile-menu-image.png" class="img-circle img-responsive" alt="">
            </div>
            <div class="sidebar-profile-details">
              <span>
                {{ _displayName }}<br>
                <small>
                  {{ _languageKeys.job | translate }}
                </small>
              </span>
            </div>
          </a>
        </div>
      </div>
      <ul class="menu accordion-menu">
        <li routerLink="/app/dashboard" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-home"></span>
            <p>
              {{ _languageKeys.dashboard | translate }}
            </p>
          </a>
        </li>
        <li routerLink="/app/profile" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-user"></span>
            <p>
              {{ _languageKeys.profile | translate }}
            </p>
          </a>
        </li>
        <li routerLink="/app/user" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon">
              <i class="fa fa-users"></i>
            </span>
            <p>
              {{ _languageKeys.users | translate }}
            </p>
          </a>
        </li>
        <li routerLink="/app/log" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-record">
            </span>
            <p>
              {{ _languageKeys.logs | translate }}
            </p>
          </a>
        </li>
        <li class="droplink">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-envelope"></span>
            <p>
              {{ _languageKeys.mailbox | translate }}
            </p>
            <span class="arrow"></span>
          </a>
          <ul class="sub-menu">
            <li><a href="javascript:void(0);">Inbox</a></li>
            <li><a href="javascript:void(0);">Inbox Alt</a></li>
            <li><a href="javascript:void(0);">View Message</a></li>
            <li><a href="javascript:void(0);">View Message Alt</a></li>
            <li><a href="javascript:void(0);">Compose</a></li>
            <li><a href="javascript:void(0);">Compose Alt</a></li>
          </ul>
        </li>
        <li routerLink="/app/about" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-exclamation-sign">
            </span>
            <p>{{ _languageKeys.about | translate }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-inner">
    <router-outlet></router-outlet>
  </div>
</main>