<div class="overlay" (click)="toggleProfileMenu($event);">
</div>
<div class="menu-wrap">
  <nav class="profile-menu">
    <div class="profile">
      <img src="assets/images/profile-menu-image.png" width="60" />
      <span>
        {{ _displayName }}
      </span>
    </div>
    <div class="profile-menu-list" (click)="toggleProfileMenu($event);">
      <a href="javascript:void(0);">
        <i class="fa fa-star"></i>
        <span>
          Favorites
        </span>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-bell"></i>
        <span>
          Alerts
        </span>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-envelope"></i>
        <span>
          Messages
        </span>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-comment"></i>
        <span>
          Comments
        </span>
      </a>
    </div>
  </nav>
  <button class="close-button" (click)="toggleProfileMenu($event);">Close Menu</button>
</div>
<main class="page-content content-wrap">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="sidebar-pusher" (click)="collapseSidebar2($event);">
        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="logo-box">
        <a routerLink="/app/dashboard" class="logo-text">
          <span>{{ _languageKeys.title | translate }}</span>
        </a>
      </div>
      <div class="search-button" (click)="toggeleNavigationMenu($event);">
        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search">
          <i class="fa fa-gears"></i>
        </a>
      </div>
      <div class="topmenu-outer">
        <div class="top-menu">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle">
                <i class="fa fa-dedent fa-fw"></i>
                <span class="visible-xs-inline">Toggle</span>
              </a>
            </li>
            <li (click)="openNavitionMenu($event);">
              <a href="javascript:void(0);" class="waves-effect waves-button waves-classic cd-nav-trigger">
                <i class="fa fa-diamond"></i>
                <span class="visible-xs-inline">Navigations</span>
              </a>
            </li>
            <li class="dropdown layout-settings">
              <a href="javascript:void(0);" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                <i class="fa fa-gear"></i>
              </a>
              <ul class="dropdown-menu dropdown-md dropdown-list theme-settings" role="menu">
                <li class="li-group">
                  <ul class="list-unstyled">
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.fixedHeader | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right fixed-header-check">
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="li-group">
                  <ul class="list-unstyled">
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.fixedSidebar | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right fixed-sidebar-check">
                      </div>
                    </li>
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.horizontalBar | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right horizontal-bar-check">
                      </div>
                    </li>
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.toggleSidebar | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right toggle-sidebar-check">
                      </div>
                    </li>
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.compactMenu | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right compact-menu-check">
                      </div>
                    </li>
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.hoverMenu | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right hover-menu-check">
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="li-group">
                  <ul class="list-unstyled">
                    <li class="no-link" role="presentation">
                      {{ _languageKeys.layout.boxedLayout | translate }}
                      <div class="ios-switch pull-right switch-md">
                        <input type="checkbox" class="js-switch pull-right boxed-layout-check">
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="no-link">
                  <button class="btn btn-default reset-options">
                      {{ _languageKeys.layout.resetOptions | translate }}
                  </button>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown user-profile-small">
              <a href="javascript:void(0);" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                <span class="user-name">
                  {{ _displayName }}
                  <i class="fa fa-angle-down"></i>
                </span>
                <img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="" />
              </a>
              <ul class="dropdown-menu dropdown-list" role="menu">
                <li role="presentation" (click)="logOut($event);">
                  <a href="javascript:void(0);">
                    <i class="fa fa-sign-out m-r-xs"></i>
                    {{ _languageKeys.logOut | translate }}
                  </a>
                </li>
              </ul>
            </li>
            <li (click)="logOut($event);">
              <a href="javascript:void(0);" class="log-out waves-effect waves-button waves-classic">
                <span>
                  <i class="fa fa-sign-out m-r-xs"></i>
                  {{ _languageKeys.logOut | translate }}
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">
      <div class="sidebar-header" (click)="toggleProfileMenu($event);">
        <div class="sidebar-profile">
          <a href="javascript:void(0);">
            <div class="sidebar-profile-image">
              <img src="assets/images/profile-menu-image.png" class="img-circle img-responsive" />
            </div>
            <div class="sidebar-profile-details">
              <span>
                {{ _displayName }}<br>
                <small>
                  {{ _languageKeys.job | translate }}
                </small>
              </span>
            </div>
          </a>
        </div>
      </div>
      <ul class="menu accordion-menu">
        <li routerLink="/app/dashboard" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-home"></span>
            <p>
              {{ _languageKeys.dashboard | translate }}
            </p>
          </a>
        </li>
        <li routerLink="/app/profile" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-user"></span>
            <p>
              {{ _languageKeys.profile | translate }}
            </p>
          </a>
        </li>
        <li routerLink="/app/user" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon">
              <i class="fa fa-users"></i>
            </span>
            <p>
              {{ _languageKeys.user | translate }}
            </p>
          </a>
        </li>
        <li routerLink="/app/log" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-paperclip">
            </span>
            <p>
              {{ _languageKeys.log | translate }}
            </p>
          </a>
        </li>
        <li class="droplink">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-envelope"></span>
            <p>
              {{ _languageKeys.mailbox | translate }}
            </p>
            <span class="arrow"></span>
          </a>
          <ul class="sub-menu">
            <li><a href="javascript:void(0);">Inbox</a></li>
            <li><a href="javascript:void(0);">Inbox Alt</a></li>
            <li><a href="javascript:void(0);">View Message</a></li>
            <li><a href="javascript:void(0);">View Message Alt</a></li>
            <li><a href="javascript:void(0);">Compose</a></li>
            <li><a href="javascript:void(0);">Compose Alt</a></li>
          </ul>
        </li>
        <li routerLink="/app/about" routerLinkActive="active">
          <a href="javascript:void(0);" class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-exclamation-sign">
            </span>
            <p>{{ _languageKeys.about | translate }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-inner">
    <div class="page-title">
      <h3>
        {{ _languageKeys.subTitle | translate }}
      </h3>
      <div class="page-breadcrumb">
        <ol class="breadcrumb">
          <li routerLink="/app/dashboard">
            <a href="javascript:void(0);">
              {{ _languageKeys.home | translate }}
            </a>
          </li>
          <li>
            {{ _languageKeys.subTitle | translate }}
          </li>
        </ol>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="page-footer">
      <p class="no-s">
        {{ _languageKeys.yearSystemByAuthor | translate: _app }}
      </p>
    </div>
  </div>
</main>
<nav class="cd-nav-container">
  <header>
    <h3>{{ 'Navigation' | translate }}</h3>
    <a href="javsacript:void(0);" class="cd-close-nav" (click)="closeNavigationMenu($event);"></a>
  </header>
  <ul class="cd-nav list-unstyled">
    <li routerLink="/app/dashboard" routerLinkActive="cd-selected" (click)="closeNavigationMenu($event);">
      <a>
        <span>
          <i class="glyphicon glyphicon-home"></i>
        </span>
        <p>
          {{ _languageKeys.dashboard | translate }}
        </p>
      </a>
    </li>
    <li routerLink="/app/profile" routerLinkActive="cd-selected" (click)="closeNavigationMenu($event);">
      <a>
        <span>
          <i class="glyphicon glyphicon-user"></i>
        </span>
        <p>
          {{ _languageKeys.profile | translate }}
        </p>
      </a>
    </li>
    <li routerLink="/app/user" routerLinkActive="cd-selected" (click)="closeNavigationMenu($event);">
      <a>
        <span>
          <i class="glyphicon">
            <i class="fa fa-users"></i>
          </i>
        </span>
        <p>
          {{ _languageKeys.users | translate }}
        </p>
      </a>
    </li>
    <li routerLink="/app/log" routerLinkActive="cd-selected" (click)="closeNavigationMenu($event);">
      <a>
        <span>
          <i class="glyphicon glyphicon-paperclip"></i>
        </span>
        <p>
          {{ _languageKeys.logs | translate }}
        </p>
      </a>
    </li>
    <li>
      <a>
        <span>
          <i class="glyphicon glyphicon-envelope"></i>
        </span>
        <p>
          {{ _languageKeys.mailbox | translate }}
        </p>
      </a>
    </li>
    <li routerLink="/app/about" routerLinkActive="cd-selected" (click)="closeNavigationMenu($event);">
      <a>
        <span>
          <i class="glyphicon glyphicon-exclamation-sign"></i>
        </span>
        <p>
          {{ _languageKeys.about | translate }}
        </p>
      </a>
    </li>
  </ul>
</nav>
<div class="cd-overlay" (click)="closeNavigationMenu($event);"></div>
