/.vs
/packages
/Nankingcigar.Demo.Application/bin
/Nankingcigar.Demo.Application/obj
/Nankingcigar.Demo.Core/bin
/Nankingcigar.Demo.Core/obj
/Nankingcigar.Demo.Dapper/bin
/Nankingcigar.Demo.Dapper/obj
/Nankingcigar.Demo.Database/bin
/Nankingcigar.Demo.Database/obj
/Nankingcigar.Demo.Entity/bin
/Nankingcigar.Demo.Entity/obj
/Nankingcigar.Demo.EntityFramework/bin
/Nankingcigar.Demo.EntityFramework/obj
/Nankingcigar.Demo.Test/bin
/Nankingcigar.Demo.Test/obj
/Nankingcigar.Demo.Web/bin
/Nankingcigar.Demo.Web/obj
/Nankingcigar.Demo.WebApi/bin
/Nankingcigar.Demo.WebApi/obj
*.user
*.suo
*.dbmdl
/Nankingcigar.Demo.Web/App_Data
