<main class="page-content">
  <div class="page-inner">
    <div id="main-wrapper">
      <div class="row">
        <div class="col-md-3 center">
          <div class="login-box">
            <a routerLink="/" class="logo-name text-lg text-center">{{ _languageKeys.title | translate }}</a>
            <p class="text-center m-t-md">{{ _languageKeys.subTitle | translate }}</p>
            <form class="m-t-md" (ngSubmit)="onSubmit()" #form="ngForm">
              <div class="alert alert-danger loginError" role="alert" [hidden]="userName.valid || userName.pristine">
                {{ _languageKeys.userNameIsRequired | translate }}
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="userName" [(ngModel)]="_loginInput.userName" placeholder="{{ _languageKeys.userName | translate }}"
                  required autocomplete="off" autofocus #userName="ngModel" (blur)="onBlur($event);" />
              </div>
              <div class="alert alert-danger loginError" role="alert" [hidden]="password.valid ||password.pristine">
                {{ _languageKeys.passwordIsRequired | translate}}
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="_loginInput.password" placeholder="{{ _languageKeys.password | translate }}"
                  required autocomplete="new-password" #password="ngModel" />
              </div>
              <div class="form-group">
                <p-dropdown [options]="_languages" name="language" (onChange)="onChange($event);" [autoWidth]="false" [(ngModel)]="_language"></p-dropdown>
              </div>
              <div class="alert alert-danger loginError" role="alert" [hidden]="_error.hidden">
                {{_error.message}}
              </div>
              <button type="submit" class="btn btn-success btn-block btnSubmit" [disabled]="!form.valid">{{ _languageKeys.login | translate }}</button>
              <a href="javascript:void(0);" class="display-block text-center m-t-md text-sm a-forgotPassword">{{ _languageKeys.forgotPassword | translate }}</a>
              <p class="text-center m-t-xs text-sm">{{ _languageKeys.doNotHaveAnAccount | translate }}</p>
              <a routerLink="/register" class="btn btn-default btn-block m-t-md">{{ _languageKeys.createAnAccount | translate:_app }}</a>
            </form>
            <p class="text-center m-t-xs text-sm">{{ _languageKeys.yearSystemByAuthor | translate:_app }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
