<div id="main-wrapper">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="panel panel-dark">
        <div class="panel-body">
          <p-dataTable [value]="_users" responsive="true" selectionMode="single"
             emptyMessage="{{ _languageKeys.noUser | translate }}">
            <p-column field="id" header="#" [style]="{'width':'5%'}"></p-column>
            <p-column field="userName" header="User Name" [style]="{'width':'25%'}"></p-column>
            <p-column field="displayName" header="Display Name" [style]="{'width':'25%'}">
              <ng-template pTemplate="body" let-user="rowData">
                <span *ngIf="user.displayName">
                  {{ user.displayName }}
                </span>
                <span *ngIf="!user.displayName">
                  {{ user.userName }}
                </span>
              </ng-template>
            </p-column>
            <p-column field="email" header="Email" [style]="{'width':'25%'}"></p-column>
            <p-column field="lastLoginTime" header="Last Login Time" [style]="{'width':'20%'}" sortable="true">
              <ng-template pTemplate="body" let-user="rowData">
                {{ user.lastLoginTime | date: 'MM/dd/y HH:mm' }}
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>
