<main class="page-content">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a routerLink="/" class="logo-name text-lg text-center">{{ 'Demo' | translate }}</a>
                        <p class="text-center m-t-md">{{ 'Create a Demo\'s account' | translate }}</p>
                        <form class="m-t-md" (ngSubmit)="onSubmit()" #form="ngForm">
                            <div class="alert alert-danger loginError" role="alert" [hidden]="userName.valid || userName.pristine">
                                {{ 'User Name is required.' | translate}}
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="userName" [(ngModel)]="_registerInput.userName" placeholder="{{ 'User Name' | translate }}"
                                    required autocomplete="off" autofocus #userName="ngModel" (blur)="onBlurUserName($event);"
                                />
                            </div>
                            <div class="alert alert-danger loginError" role="alert" [hidden]="email.valid || email.pristine">
                                {{ 'Email is required.' | translate}}
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" [(ngModel)]="_registerInput.email" placeholder="{{ 'Email' | translate }}"
                                    required  autocomplete="off" #email="ngModel" (blur)="onBlurEmail($event);" email/>
                            </div>
                            <div class="alert alert-danger loginError" role="alert" [hidden]="password.valid ||password.pristine">
                                {{ 'Password is required.' | translate}}
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" [(ngModel)]="_registerInput.password" placeholder="{{ 'Password' | translate }}"
                                    required autocomplete="new-password" #password="ngModel" />
                            </div>
                            <label>
                                    <input type="checkbox">{{ 'Agree the' | translate }}<a href="javascript:void(0);" class="m-t-md a-forgotPassword">{{ 'terms and policy' | translate }}</a>
                            </label>
                            <button type="submit" class="btn btn-success btn-block m-t-xs btnSubmit" [disabled]="!form.valid">{{ 'Submit' | translate }}</button>
                            <p class="text-center m-t-xs text-sm">{{ 'Already have an account?' | translate }}</p>
                            <a routerLink="/login" class="btn btn-default btn-block m-t-xs">{{ 'Log In' | translate }}</a>
                        </form>
                        <p class="text-center m-t-xs text-sm">{{ '2017 © Demo by Chao.' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>