<main class="page-content">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a routerLink="/" class="logo-name text-lg text-center">{{ _languageKeys.title | translate }}</a>
                        <p class="text-center m-t-md">{{ _languageKeys.subTitle | translate: _app }}</p>
                        <form class="m-t-md" (ngSubmit)="onSubmit()" #form="ngForm">
                            <div class="alert alert-danger loginError" role="alert" [hidden]="userName.valid || userName.pristine">
                                {{ _languageKeys.userNameIsRequired | translate}}
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="userName" [(ngModel)]="_registerInput.userName" placeholder="{{ _languageKeys.userName | translate }}"
                                    required autocomplete="off" autofocus #userName="ngModel" (blur)="onBlurUserName($event);"
                                />
                            </div>
                            <div class="alert alert-danger loginError" role="alert" [hidden]="email.valid || email.pristine">
                                {{ _languageKeys.emailIsRequired | translate}}
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" [(ngModel)]="_registerInput.email" placeholder="{{ _languageKeys.email | translate }}"
                                    required autocomplete="off" #email="ngModel" (blur)="onBlurEmail($event);" email/>
                            </div>
                            <div class="alert alert-danger loginError" role="alert" [hidden]="password.valid ||password.pristine">
                                {{ _languageKeys.passwordIsRequired | translate}}
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" [(ngModel)]="_registerInput.password" placeholder="{{ _languageKeys.password | translate }}"
                                    required autocomplete="new-password" #password="ngModel" />
                            </div>
                            <label>
                                    <input type="checkbox" checked>{{ _languageKeys.agreeTheTermsAndPolicyPart1 | translate }}<a href="javascript:void(0);" class="m-t-md a-forgotPassword">{{ _languageKeys.agreeTheTermsAndPolicyPart2 | translate }}</a>
                            </label>
                            <div class="alert alert-danger loginError" role="alert" [hidden]="_error.hidden">
                              {{_error.message}}
                            </div>
                            <button type="submit" class="btn btn-success btn-block m-t-xs btnSubmit" [disabled]="!form.valid">{{ _languageKeys.submit | translate }}</button>
                            <p class="text-center m-t-xs text-sm">{{ _languageKeys.alreadyHaveAnAccount | translate }}</p>
                            <a routerLink="/login" class="btn btn-default btn-block m-t-xs">{{ _languageKeys.login | translate }}</a>
                        </form>
                        <p class="text-center m-t-xs text-sm">{{ _languageKeys.yearSystemByAuthor | translate: _app }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
